body {
    position:relative;
    width: 99%;
    height: 200px;
    font-family: Arial;
}

.primeira-div {
    left:50%;
    top:100%;
    margin-left:-100px;
    margin-top:-50px;
    position:absolute;
    width:200px;
    height:100px;
}

.align-center {
    text-align: center;
}